* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-title {
  text-align: center;
  font-size: 48px;
  padding: 20px 0;
  margin-bottom: 36px;
}

.screen {
  text-align: right;
  border: 1px solid black;
  padding: 40px;
  margin-bottom: 10px;
  border-radius: 20px;
  align-items: baseline;
}

.output {
}

.calculator {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 30px;
  cursor: pointer;
  border-radius: 20px;
}
